.change-password-mui-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 15px;

  &-password {
    margin-top: 25px;
    height: 42px;
    padding: 0 14px;
  }
}
.change-password-mui-button-container{
  display:flex;
  justify-content:flex-end;
  &-button{
    background-color: #0000EE;
    color: white;
    width: 82px;
    height: 40px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
  }
}
