.sign-up-form{
  margin-top: 67px;
  display: flex;
  flex-direction: column;
  width: 33vw;
  padding: 40px 80px  40px 80px;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(162, 180, 176, 0.47);
  border-radius: 10px;
  margin-bottom: 122px;
  & .sign-up-form-input{
    margin-top: 24px;
    margin-bottom: 24px;
    &:nth-child(3){
      margin-top: 0;
    }
  }
}
.sign-up-form-links{
    font-family: 'Museo Sans Rounded', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0000EE;
  }
.sign-up-link-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}