.contact-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 0;
  &-container{
    display: flex;
    width: 60%;
    height: 619px;
    background-color: #F6F4FF;
    border-radius:  60px;
    border: none;
  }
  &-contact-email-message{
    display: flex;
    justify-content: center;
    width: 900px;
    align-items: center;

  }
}



// .contact-ContactEmailMesseger{
//     width: 385px;

// }




