.template-about-page {
  padding: 5%;
  width: 90%;
  height: 723px;
  box-shadow: 0 4px 28px rgba(162, 162, 190, 0.16);
  border-radius: 10px;
  display: flex;

  &-title {
    font-family: 'Museo Sans Rounded', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.01em;

  }
  &-description {
    font-family: 'Museo Sans Rounded', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 551px;
    margin-top: 24px;
    margin-right: 80px;
  }
  &-right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  &-btn {
    font-family: 'Museo Sans Rounded', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    color: #332E68;
    border: 1px solid #332E68;
    border-radius: 10px;
    background: none;
    margin-top: 24px;
    margin-right: 24px;
  }
}
.about-page-img{
  width: 325px;
  height: 453px;
  object-fit: cover;
}
