.button-pricing{
  margin-bottom: 30px;
  background-color:white !important;
  border-radius:32px !important;
  text-transform: capitalize !important;
  color: blue !important;
  border: 1px solid blue !important;
  width: 273px;
  height: 30px;
  &-crown{
    width: 24px;
    height: 17px;
  }
}
