.form-button{
  height: 52px;
  background: #0000EE;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 29px;
  font-family: 'Museo Sans Rounded',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}